* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: auto;

}
.shows {
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.shows-container {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;

}
.card-item-show {
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}


.card-item-action {
  display: flex;
}

.card-item-action button {
  margin-left: 5px; /* Agrega un margen a la izquierda del botón */
}